@media (max-width:375px) {
    .sidebar{
      background-image: url('./assets/images/bg-sidebar-mobile.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 170px;
    }
    .sidebar-btn{
      background: none;
      border: 1px solid var(--Light-gray);
      border-radius: 50%;
      width: 32px;
      height: 32px;
      padding: 0px;
      margin-left: 7px;
      margin-right: 7px;
      margin-top: 35px;
    }
    .btn-text{
      display: none;
    }
  
  }