@media (max-width:375px){

    .step{
        background-color: var(--White);
        color: var(--Cool-gray);
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
        margin-top: -90px;
        padding: 20px;
      }
      h2{
        font-weight: 700;
        color: var(--Marine-blue);
        text-align: start;
        font-size: 1.5rem;
      }
      span{
        display: block;
        color: var(--Marine-blue);
        font-weight: 500;
        text-align: start;
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      input{
        background-color: var(--White);
        border: 1px solid  var(--Light-gray);
        height: 35px;
        width: 90%;
        color: var(--Marine-blue);
        padding-left: 15px;
      }
      p{
        text-align: start;
        font-size: 1em;
      }
      .step2-option{
        display: flex;
        flex-direction: row;
        border: 1px solid var(--Light-gray);
        padding: 10px;
        height: 50px;
        margin-bottom: 0.5em;
      }
      .step2-option-rigth-container{
        margin-left: 15px;
      }
      .step2-option-rigth-container span{
        margin-top: 0px;
      }
      .option-title {
        font-weight: bold;
      }
      .option-price{
        color: var(--Cool-gray) ;
      }
      .option-time{
        font-size: 0.7em;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-left: 1em;
        margin-right: 1em;
      }
      .input{
        opacity: 0;
        width: 0;
        height: 0;
      }
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .input:checked + .slider {
        background-color: var(--Marine-blue);
      }
      
      .input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      .input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      .switch-container{
        display: flex;
        align-items: center;
        justify-content: center;
      }
}