
.attribution { 
  font-size: 11px; 
  text-align: center; 
  position: absolute;
  bottom: 10px;
}
.btn-next{
  background-color: var(--Marine-blue);
  position: absolute;
  bottom: 30px;
  right: 30px;
  border-radius: 5px;
  color: white;
  padding: 1em;
  font-weight: bold;
}
.attribution a { color: hsl(228, 45%, 44%); }

